/** COLOR PALETTE:
  *
  * Background: #F5F5F5 (GREY 100)
  * Primary Text: black
  *
  * Primary color: #9C27B0 (PURPLE)
  * Primary color_text : white
  * Accent color: #CDDC39 (LIME)
  * Accent color_text: black
  */

/* GLOBAL */

* {
    font-family: Roboto, 'Arial', sans-serif; /* use roboto font*/

    /* Reset margins and paddings */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

button, strong {
    text-transform: uppercase;
}

    /* #7 #tab change tab icons sizing */
.fa {
    font-size: 24px;
}

/* LAYOUT #5 #split */

#channels {
    /* left align the channels */
    position: absolute;
    height: 100%;
    width: 40%;

    background-color: #9C27B0; /* temporary background color to see the effect, is completely hidden now */
}

#chat {
    /* right align the rest */
    position: absolute;
    height: 100%;
    width: 60%;
    left: 40%;
}

#messages {
    /* messages are now wrapped in a div to #scroll properly */
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 72px;
    overflow-y: auto;
}

/* APP BAR */

h1 {
    background-color: #9C27B0;
    color: white;

    /* #5 general settings for both bars */
    height: 64px;
    font-size: 20px;
    font-weight: 500;

    /* app-bar spacing */
    box-sizing: border-box;
    padding: 24px 16px 20px 16px;

    /* MOOCUS image alignment */
    position: relative; /* we need this, so that the image's absolute position is relative to the app bar */
}

h1#left-app-bar {
    /* LEFT-APP-BAR spacing */
    padding-left: 72px;
}

h1#left-app-bar img {
    /* app-bar image bottom-align */
    position: absolute;
    left: 16px;
    bottom: 0;
}

h1 a {
    /* channels fix the #link color in app bar*/
    color: white;
}

h1 i.fa {
    /* liking filled  */
    position:absolute;
    right: 16px;
}

/* CHANNELS LIST */

ul {
    list-style-type: none;
    background-color: white;

    /* position #channels list and let it scroll */
    position: absolute;
    width: 100%;
    top: 64px; /* the app bar's height */
    bottom: 72px; /* the tab bar's height */
    overflow-y: auto; /* this adds scroll bars on demand */
}

li {
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    border-bottom: 1px solid #F5F5F5;

    /* channels position channel-meta icons within the li needs relative positioning (relative stops absolute) */
    position: relative;
}

li .channel-meta {
    /* channels right-align channel-meta icons absolute = relative to li */
    position: absolute;
    right: 16px;
    top: 12px;
}

li img {
    vertical-align: middle;
}

li.selected {
    color: #9C27B0;
    border-left: 4px solid #9C27B0;
}


/* TAB BAR */

#tab-bar, #chat-bar {
    background-color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

#tab-bar button, #chat-bar button {
    background-color: white;
    border: none;
    font-size: 13px;
    width: 33%;
    height: 72px;
    padding: 16px;
    flex-grow: 1;
}

#tab-bar button.selected {
    color: #9C27B0;
    border-bottom: 4px solid #9C27B0;
}

#tab-bar i.fa {
    /* #7 #tab change tab icons sizing */
    display: block;
    margin: 0 auto 4px auto;
}

/* CHAT BAR */

#chat-bar button {
    /* smileys override button styles. We set the chat bar to appear like a tab-bar above. This overrides the tab bar's button scaling */
    width: auto;
    flex-grow: 0;
    font-size: 24px;
}

#emojis {
    /* colors and borders */
    background-color:white;
    border: 1px solid black;

    /* size & alignment */
    position: absolute;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    left: 16px;
    top: -284px;
    padding: 16px;

    /* font and left-align text */
    text-align: left;
    font-size: 28px;

    /* scroll when it has too many emojis */
    overflow-y: auto;

    /* hide the smile menu */
    display: none;
}

    /* #8 #message #send position right arrow on chat bar */
#right-arrow {
    position: absolute;
    right: 16px;
}

/* MESSAGES */

.message {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;

    /* reposition right/bottom alignment of button relative to the chat message (stops absolute) */
    position: relative;
}

.message h3 {
    /* Message-meta medium-sized text, non-italic */
    font-size: medium;

    /* distribute metadata content evenly by flexbox #tweaks */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.message h3 a {
    /* What3words link is primary test */
    color: black;

    /* column fixing width of w3w and time lets the date appear in a column I */
    width: 30%;
}

.message h3 em {
    /* Larger text, non-italic*/
    font-size: larger;
    font-style: normal;

    /* fixing width of w3w and time lets the date appear in a column II */
    width: 20%;
    text-align: right;
}

.message p {
    background-color: white;
    padding: 16px;
}

.message button {
    /* +5 min. button*/
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;

    /* reposition right/bottom alignment of button */
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.message.own {
    margin-left: 17.5%;
}
